In [101]:
# Imported necessary packages
import pandas as pd
import numpy as np
import json
from pandas.io.json import json_normalize
import matplotlib.pyplot as plt
import seaborn as sn

In [54]:
# Assigned the JSON to variable json
json_world = 'world_bank_projects.json'
# Made JSON a DataFrame
world_bank_df = pd.read_json(json_world)
# Shows head of DataFrame
world_bank_df.head()

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{u'$oid': u'52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{u'Percent': 100, u'Name': u'Education for all'}","[{u'code': u'65', u'name': u'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{u'$oid': u'52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Other economic man...","[{u'code': u'24', u'name': u'Other economic ma...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en
2,{u'$oid': u'52b213b38594d8a2be17c782'},2014,November,2013-11-01T00:00:00Z,MINISTRY OF FINANCE AND ECONOMIC DEVEL,NaN,Tuvalu!$!TV,TV,Tuvalu,Tuvalu,...,TI,IBRD,Active,Y,"{u'Percent': 46, u'Name': u'Regional integrati...","[{u'code': u'47', u'name': u'Regional integrat...","52,81,25,47",6060000,6060000,http://www.worldbank.org/projects/P145310?lang=en
3,{u'$oid': u'52b213b38594d8a2be17c783'},2014,October,2013-10-31T00:00:00Z,MIN. OF PLANNING AND INT'L COOPERATION,NaN,Republic of Yemen!$!RY,RY,Republic of Yemen,"Yemen, Republic of",...,JB,IBRD,Active,N,"{u'Percent': 50, u'Name': u'Participation and ...","[{u'code': u'57', u'name': u'Participation and...","59,57",0,1500000,http://www.worldbank.org/projects/P144665?lang=en
4,{u'$oid': u'52b213b38594d8a2be17c784'},2014,October,2013-10-31T00:00:00Z,MINISTRY OF FINANCE,2019-04-30T00:00:00Z,Kingdom of Lesotho!$!LS,LS,Kingdom of Lesotho,Lesotho,...,"FH,YW,YZ",IBRD,Active,N,"{u'Percent': 30, u'Name': u'Export development...","[{u'code': u'45', u'name': u'Export developmen...","41,45",13100000,13100000,http://www.worldbank.org/projects/P144933/seco...

In [55]:
# Exercise 1
# Groups the DataFrame by Country Name and Size then sorts the values from highest to lowest
top_10_countries = world_bank_df.groupby(['countryname']).size().sort_values(ascending=False)
# Displays the Top 10 Countries with the most projects
top_10_countries.head(10)

countryname
People's Republic of China         19
Republic of Indonesia              19
Socialist Republic of Vietnam      17
Republic of India                  16
Republic of Yemen                  13
Nepal                              12
People's Republic of Bangladesh    12
Kingdom of Morocco                 12
Africa                             11
Republic of Mozambique             11
dtype: int64

In [91]:
# Exercise 2
# Loads in the JSON like a normal JSON
json_load = json.load((open('world_bank_projects.json')))
# Normalizes it
json_norm = json_normalize(json_load, 'mjtheme_namecode', ['id'])
# Displays the Top 10 Project Themes but with missing names
json_norm.head(10)

  code                                          name       id
0    8                             Human development  P129828
1   11                                                P129828
2    1                           Economic management  P144674
3    6         Social protection and risk management  P144674
4    5                         Trade and integration  P145310
5    2                      Public sector governance  P145310
6   11  Environment and natural resources management  P145310
7    6         Social protection and risk management  P145310
8    7                   Social dev/gender/inclusion  P144665
9    7                   Social dev/gender/inclusion  P144665

In [93]:
# Calculates total for each theme without the missing data and sorts them
top_10_themes = json_norm[json_norm.name != ''].name.value_counts().sort_values(ascending=False)
# Displays the Top 10 Project Themes
top_10_themes.head(10)

Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: name, dtype: int64

In [103]:
# Exercise 3
# Save json_norm to new variable
json_norm_clean = json_norm
# Sorts with name and code
sorted_json = json_norm_clean.sort_values(['code', 'name'])
# Fills all blank names with NAN
sorted_json.name[sorted_json.name == ""] = np.nan
# Displays the Top 10 with NaNs
sorted_json.head(10)

     code                 name       id
212     1                  NaN  P128282
363     1                  NaN  P144030
1024    1                  NaN  P124114
1114    1                  NaN  P131094
1437    1                  NaN  P130412
2       1  Economic management  P144674
88      1  Economic management  P132425
175     1  Economic management  P118027
204     1  Economic management  P126034
205     1  Economic management  P126034

In [113]:
# Backfills the NaNs
clean_json = sorted_json.fillna(method='bfill')
# Sorts the Index
clean_json.sort_index()
# Same code from Exercise 2 but now don't need to worry about missing data
top_10_clean = clean_json.name.value_counts().sort_values(ascending=False)
# Displays the updated Top 10 Project Themes
top_10_clean.head(10)

Environment and natural resources management    250
Rural development                               216
Human development                               210
Public sector governance                        199
Social protection and risk management           168
Financial and private sector development        146
Social dev/gender/inclusion                     130
Trade and integration                            77
Urban development                                50
Economic management                              38
Name: name, dtype: int64